[submodule "vim/pack/shapeshed/start/vim-airline"]
	path = vim/pack/creationix/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/creationix/start/vim-javascript"]
	path = vim/pack/creationix/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/creationix/start/vim-cpp-enhanced-highlight"]
	path = vim/pack/creationix/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/pack/creationix/start/vim-orbital"]
	path = vim/pack/creationix/start/vim-orbital
	url = https://github.com/fcpg/vim-orbital
[submodule "vim/pack/creationix/start/vim-colors-tone"]
	path = vim/pack/creationix/start/vim-colors-tone
	url = https://github.com/cseelus/vim-colors-tone.git
[submodule "vim/pack/creationix/start/vim-clang"]
	path = vim/pack/creationix/start/vim-clang
	url = https://github.com/justmao945/vim-clang.git
[submodule "vim/pack/creationix/dart-vim-plugin"]
	path = vim/pack/creationix/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "vim/pack/creationix/start/vim-crystal"]
	path = vim/pack/creationix/start/vim-crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "vim/pack/creationix/start/swift.vim"]
	path = vim/pack/creationix/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "vim/pack/creationix/start/vim-colorscheme-thaumaturge"]
	path = vim/pack/creationix/start/vim-colorscheme-thaumaturge
	url = https://github.com/baines/vim-colorscheme-thaumaturge.git
[submodule "vim/pack/creationix/start/nim.vim"]
	path = vim/pack/creationix/start/nim.vim
	url = https://github.com/zah/nim.vim.git
[submodule "vim/pack/creationix/start/dracula-vim"]
	path = vim/pack/creationix/start/dracula-vim
	url = https://github.com/dracula/vim.git
